body {
  background-color: #f1f1f1;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.form-container {
  display: flex;
  margin: 50px;
  padding: 5px;
  flex: 1;
}
.input-box {
  width: 95%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.Label {
  margin-left: 10px;
  color: #1d2026;
}
.content {
  flex: 1;
  border-style: none;
  outline: none;
  padding: 20px;
  width: 100%;
  overflow: hidden;
}

.heading {
  font-size: 18px;
  color: #070808;
  margin: 10px;
  margin-bottom: 30px;
}
.method {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 30px;
  justify-content: space-between;
  background-color: white;
  margin: 10px 0;
  margin-left: 10px;
  padding: 15px;
  align-content: center;
  text-align: center;
  width: 100%;
  cursor: pointer;
}
.selected-method {
  border: 1px solid #23bd33;
}

.paymentIcon {
  width: auto;
  height: 40px;
  align-content: center;
  text-align: center;
  margin-left: 10px;
}

.ph,
.date,
.address,
.pName,
.newCard {
  color: #4e5566;
  margin-right: 40px;
  align-content: center;
  text-align: center;
}
.newCard {
  margin-left: -250px;
  align-content: center;
  text-align: center;
}

.circle {
  width: 20px;
  height: 20px;
  align-content: center;
  text-align: center;
  margin-right: 20px;
}

.personalInfo {
  width: 102%;
}
.Numbered {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 1px;
  width: 103%;
}
.dateBox,
.cvcBox {
  flex: 1px;
  border-style: none;
  padding: 20px;
  outline: none;
  overflow: hidden;
}

label#cvc {
  margin-left: 5px;
}
.mobile {
  position: relative;
  align-items: center;
  width: 95%;
  img {
    position: absolute;
    object-fit: cover;
    top: 20px;
    left: 20px;
    padding: 5px;
  }
}
.icon {
  height: 25px;
  width: auto;
}

.line {
  transform: rotate(180deg);
  height: 32px;
  width: 1px;
  margin-left: 35px;
  opacity: 0.5;
}
.content::placeholder {
  font-size: 16px;
  color: #8c94a3;
}

input#mobileNumber {
  padding-left: 60px;
}
.checkMe {
  margin: 5px;
}

.rememberText {
  color: #4e5566;
  margin-left: 10px;
}
input[type="checkbox"]:checked {
  accent-color: #816fb5;
}
.payBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  background-color: #816fb5;
  width: 120px;
  height: 50px;
  border-style: none;
  color: white;
  font-size: 1em;
  cursor: pointer;
  &:hover {
    background-color: #5d3dbd;
  }
}
