body {
  background-color: #f1f1f1;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.form-container {
  display: flex;
  margin: 50px;
  padding: 5px;
  flex: 1;
}
.input-box {
  width: 95%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.Label {
  margin: 10px 0;
  color: #1d2026;
}
.content {
  flex: 1;
  border-style: none;
  padding: 20px;
  width: 100%;
}

.heading {
  font-size: 18px;
  color: #070808;
  margin: 10px;
  margin-bottom: 30px;
}
.method {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 30px;
  justify-content: space-between;
  background-color: white;
  margin: 10px 0;
  margin-left: 10px;
  padding: 15px;
  align-content: center;
  text-align: center;
  width: 100%;
}

.paymentIcon {
  width: auto;
  height: 40px;
  align-content: center;
  text-align: center;
  margin-left: 10px;
}
.ph,
.date,
.address,
.pName,
.newCard {
  color: #4e5566;
  margin-right: 40px;
  align-content: center;
  text-align: center;
}
.newCard {
  margin-left: -250px;
  align-content: center;
  text-align: center;
}

.circle {
  width: 20px;
  height: 20px;
  align-content: center;
  text-align: center;
  margin-right: 20px;
}

.personalInfo {
  width: 102%;
}
.Numbered {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 1px;
  width: 103%;
}
.dateBox,
.cvcBox {
  flex: 1px;
  border-style: none;
  padding: 20px;
}

label#cvc {
  margin-left: 5px;
}
.mobileIcon {
  position: relative;
  display: flex;
  align-items: center;
  width: 106%;
}

.icon,
.line {
  position: absolute;
  left: 10px;
  top: 15px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.line {
  left: 35px;
  transform: rotate(90deg);
  top: 25px;
  width: 15px;
  color: #999;
}
.content::placeholder {
  font-size: 16px;
  color: #8c94a3;
}
input#mobileNumber {
  padding-left: 60px;
}
.checkMe {
  margin: 5px;
}

.rememberText {
  color: #4e5566;
  margin-left: 10px;
}
input[type="checkbox"]:checked {
  accent-color: #816fb5;
}
.payBtn {
  display: flex;
  margin: 10px;
  padding: 20px;
  padding-bottom: 30px;
  border-radius: 5px;
  background-color: #816fb5;
  width: 100px;
  height: 30px;
  border-style: none;
  align-items: center;
  justify-content: center;
}
