*{
    padding:0px;
    margin:0px;
   
}
#main{
    margin-left: 20px;
    margin-bottom: 25px;
    margin-top: 15px;
    font-weight: 600;
    font-size: 25px;

    
}

.payment-container{
    display:flex;
    margin-left:20px;
}
.text{
   margin-left: 15px;
   margin-top:50px;
   
}
.seller{
font-size: 15px;
font-weight: lighter;
/* font-family: cursive; */
color: #999;
}

#bullet{
    margin-top: 10px;;
}

.name{
    font-size: 18px;
    font-weight: 300;
}

#order{
    margin-top: 15px;
    font-weight: 500;
    font-size: 30px;
    margin-left:20px;
}

.image{
     /* width:500px; */
    margin-bottom: 15px; 
    width:300px;
    height:auto;
}
    
button{
   background-color:  rgba(129, 111, 181, 1);
   padding:15px;
   width:50%;
   margin-top: 15px;
   margin-left:20px;
   color:white;
   font-size: 18px;
   
}
.subtotal-container{
    display:flex;
    gap:400px;
    margin-left:20px;
   
}
.subtotal{
    color:#999;
    margin:7px;
    font-size: 18px;
    /* margin-left:20px; */
    margin-bottom: 15px;
    
}
.price{
    font-weight: 500;
    
}
.total-price{
    font-weight: 600;
    font-size: 30px;
}
.total{
font-weight: 400;
}
hr{
    border-top: #999;
}

@media screen and (max-width: 768px) {
    .payment-container {
      flex-direction: column;
      align-items: center;
    }
    
    .text {
      margin-top: 10px; 
      text-align: center;
    }
    
    .subtotal-container {
      gap: 10px; 
      flex-direction: column;
      align-items: center;
    }
    button {
        margin-top: 20px; 
        width: 80%; 
        /* align-self: center; */
        margin-left: 20px;
      }
     
  }