
:root{
	--font:font-family: "Roboto"
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.footer {
    width: 1440px;
    height: 240px;
    display: flex;
    justify-content: center; 
}

.footer-container {
    width: 100%; 
    height: 100%; 
    background: #DC8484;
    display: flex;
    align-items: center; 
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width:70%; 
	position: relative; 
    left: 150px; 
	
}

.sub-footer-links {
    margin: 10px; 
    display: flex;
    flex-direction: column;
}

.sub-footer-links h4 {
    margin-top: 10px; 
	font-family: var(--font);
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 10px; 
}

.sub-footer-links a {
    text-decoration: none;
}

.sub-footer-links p {
	font-family: var(--font);
    color: #333333;
    font-size: 12px;
    margin: 5px 0; 
}

.social-media-icons {
    display: flex;
    gap: 5px;
}

.footer-below {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%; 
}

.footer-below-copyright p {
	font-family: var(--font);
    font-size: 11px;
    line-height: 16.5px;
    color: #333333;
    margin-top: 10px; 
}

.footer-below-copyright span {
    color: #4682B4;
}

hr {
	position: relative;
	left: 20px;
    width:100%; 
    border: 1px solid #0D0C0C1A;
}


 
/* making responsive */

@media(max-width:1280px){
    .footer {
        width: 100%;
      }
    .footer-links{
        /* width: 90%; */
       width: 65%;
        left: 100;
        
    }
}

@media(max-width:1024px){
    .footer {
        width: 100%;
      }
    
      .footer-links {
        width: 95%;
        left: 0;
      }
      .footer-below p{
        font-size: 14px;
      }
}

@media screen and (max-width: 800px) {
  
  
    .footer-links {
      width:90%;
      
    }
    .sub-footer-links h4 {
       
        
        font-size: 14px;
        
    }
    .sub-footer-links p{
        font-size: 14px;
    }
    

    
  }

  @media screen and (max-width: 676px) {
    .footer {
    
      height:fit-content; /* Adjusted height for better display on smaller screens */
    }
  
    .footer-links {
       
      flex-direction: column; /* Change to column layout for smaller screens */
      align-items: center; /* Center align items in smaller screens */
      justify-content: center;
    }
    .footer-below{
        padding: 20px;
    }
  }